*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
.home_And_About_Container{
    width:100%;
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}
.logoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    list-style-type: none;
    padding:10px;
}
a{
    font-size: larger;
    text-decoration: none;
}
.servicesContainer{
    width:100%;
}

.contactContainer{
    width:100%;
}

.homeContent{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
}
.headline{
    display: inline;
    background-color: blue;
    width:35%;
}
.intoParagraph{
    width:65%;
    background-color: yellow;
}

.aboutContent{
    margin-top:20px;
    display: flex;
    justify-content: space-around; 
}
.ourMisson{
  width:30%;
  background-color: aquamarine;
}
.ourVision{
  width:30%;
  background-color: chartreuse;
}
.ourstory{
   width:30%;
   background-color: crimson;
}
