* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.containerOne {
    background-image: url(Images/backgroundNetflix.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 100px 100px rgb(8, 8, 8); /* Inner shadow */
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logoIcon {
    height: 50px;
}

.logo {
    width: 30%;
    text-align: center;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    gap: 10px;
    font-size: larger;
    padding: 5px;
}

#lang {
    background: transparent;
    border: none;
    color: white;
}

.languageIcon {
    height: 20px;
}

.out {
    color: white;
}

.languageSignIn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 1;
    font-size: large;
    cursor: pointer;
}

.signIn {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    height: 30px;
    cursor: pointer;
}

.introText {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 200px;
    line-height: 40px;
}

.large {
    font-weight: 900;
    font-size: 48px;
}

.small {
    font-size: 20px;
    font-weight: 400;
}

.email {
    width: 50%;
    height: 60px;
    padding: 15px;
    border-radius: 7px;
    background: #d7d7d7;
}

.emailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.getStarted {
    background-color: red;
    padding: 10px;
    border-radius: 7px;
    width: 15%;
    font-size: 20px;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1200px) {
    .introText {
        padding: 150px;
    }

    .large {
        font-size: 40px;
    }

    .small {
        font-size: 18px;
    }

    .email {
        width: 60%;
    }

    .getStarted {
        width: 20%;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .heading {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        width: 100%;
    }

    .languageSignIn {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .language, .signIn {
        width: 80%;
    }

    .introText {
        padding: 100px;
    }

    .large {
        font-size: 32px;
    }

    .small {
        font-size: 16px;
    }

    .email {
        width: 70%;
    }

    .getStarted {
        width: 25%;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .introText {
        padding: 50px;
    }

    .large {
        font-size: 24px;
    }

    .small {
        font-size: 14px;
    }

    .email {
        width: 80%;
        height: 50px;
        padding: 10px;
    }

    .getStarted {
        width: 30%;
        font-size: 14px;
    }

    .heading {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .logo {
        width: 100%;
        margin-bottom: 10px;
    }

    .languageSignIn {
        width: 100%;
        gap: 10px;
    }

    .language, .signIn {
        width: 80%;
        font-size: medium;
    }
}
